[2012-12-29 08:55] choobin opened #1 "Strange behavior on this site http://failblog.cheezburger.com."
Received email from user.

Hi!

I notice some strange behavior on this site http://failblog.cheezburger.com
When I try to save picture from it and my folder is called "Fun" the picture get named "Fun" without extension and they will not get saved inside the folder, it will get saved in the parent folder where my fun folder is.

This is my path "c:\users\username\pictures\fun" and the picture will

[2012-12-30 10:51] choobin commented on #1
Fixed in [dddd4d5fa9](https://github.com/choobin/cmis/commit/dddd4d5fa951044e5d68e23baba7097cc72b65d3).

[2012-12-30 10:51] #1 closed, assigned to choobin

[2013-01-02 15:03] choobin opened #2 "CMIS appends .jpeg suffix to .jpg files."
User Darayavaush reports that JPEG files with a ".jpg" suffix are being saved as ".jpg.jpeg"

[https://addons.mozilla.org/en-US/firefox/addon/context-menu-image-saver/reviews/414924/](https://addons.mozilla.org/en-US/firefox/addon/context-menu-image-saver/reviews/414924/)

Dariush provided the following information

"""
This happens with any .jpgs. Example: [http://placekitten.com.s3.amazonaws.com

[2013-01-03 05:14] choobin commented on #2
Fixed in [4aa10957bd](https://github.com/choobin/cmis/commit/4aa10957bd92dcf3c235636649afd2d82c28b451).

Indeed. A call to  Windows XP x64_86 nsIMIMEService.getPrimaryExtension("image/jpg", null) returns a different value to FF builds on Linux and Windows 7.

[2013-01-03 05:14] #2 closed, assigned to choobin

[2013-01-03 05:32] choobin opened #3 "Documentation."
Many people have contacted me stating that they like the idea of CMIS, however, they have no idea how to get started.

At some point in the future I am going to have to create a video and/or text documentation for this extension.

[2013-01-03 05:47] choobin opened #4 "Localize the extension."
There are a number of translations released on Babelzilla for CMIS.

Currently: de, fr, nl, sr, ex-MX, zh-CN.

[http://www.babelzilla.org/forum/index.php?showtopic=7262](http://www.babelzilla.org/forum/index.php?showtopic=7262)

Integrate them into CMIS.

Note: This might be a little tricky as (from memory) there were a few modifications made to the original Babalzilla .dtd and .properties file.

[2013-01-07 03:25] nhantrn opened #5 "[request] add subfolder"
Hi, I have a couple requests to make.
1. Add an option to enable subfolders within an item.
2. Add option to move the Firefox default "Save Image/Link As..." to a subitem

[2013-01-08 07:21] choobin commented on #5
G'day,

Thanks for the feedback.

I do not quite follow. Do you mean nested sub-folders? Like this?

![example](https://f.cloud.github.com/assets/211907/49474/60da9980-5963-11e2-96cb-093c56bcfb34.png)

If so. This is already possible. Although completely undocumented. See [issue/3](https://github.com/choobin/cmis/issues/3).

Select the sub-menu root item and use the up/down buttons to move the who

[2013-01-08 07:36] choobin opened #6 "Append webpage caption."
AMO user pein0saga made the following feature request as a comment on the CMIS download page.

My interpretation of the comment is to add an option to save using the IMG ALT text in place of the filename.
- gContextMenu.target.alt to get the alt text
- What if there is no alt text? Use the filename.
- Where to place the option? Make it specific to a menu item or as a global option in the settings

[2013-01-09 01:29] gsxgmpkt9020 commented on #6
This would be nice! Thank you!~

[2013-01-09 06:31] nhantrn commented on #5
Thanks for looking into my 2nd request.

As for the subfolder thing, what I mean is that if there are sub folders within a path and it should be expanded in the menuitem. Here's a visual of the concept.

![2013-01-08_222658](https://f.cloud.github.com/assets/3202654/52717/ddb6d62c-5a25-11e2-8e90-f368a8d57074.jpg)

[2013-01-09 06:41] nhantrn commented on #6
Is it possible in Javascript add metatags into saved images?

I would be really cool if there is an option to add the original URL of the image into the image's metatag.

[2013-01-13 11:23] choobin commented on #5
OK. I see what you mean. I do not know about that one. Can't you create a new item at the top of a sub-menu that achieves the same functionality?

Regarding the 'Save Image As' button. Commit [569f048072](https://github.com/choobin/cmis/commit/569f048072c55d80e1142a68902176cf7fca7226) if the first step towards this goal. I need to do more testing before I send it to AMO. If you want to test it out

[2013-01-13 11:28] choobin commented on #6
I have made a start at modifying the prefix string to append alt text and timestamps to the filename. See [e344f21d85](https://github.com/choobin/cmis/commit/e344f21d85d8c8eabd544fb0f59ae9a38115cfa8). I need to do a lot more testing before I send it to AMO. If you would like to test it out yourself I can provide an XPI and/or document how to package and install the latest snapshot from github. See

[2013-01-13 11:43] choobin opened #7 "Metadata."
nhantrn made an interesting comment in [issue/6](https://github.com/choobin/cmis/issues/6) that I thought deserves a page of its own.

We could store the URL in an EXIF field in JPG and TIFF files, however, this is not possible with GIF, PNG, wait... Well, every other image format. Urgh.

Another downside of this is that it will slow down the saving process. Each compatible file will need to be re

[2013-01-13 11:44] choobin commented on #6
That is a fantastic idea! Although, I need some time to think about the best way to do this. I have created an new [issue](https://github.com/choobin/cmis/issues/7) so it does not get lost. Thanks for the feedback.

[2013-01-15 01:55] nhantrn commented on #5
Yes you can manually add sub-folder items to a submenu, but that's not an ideal solution. Especially if a path has multiple sub-folders.

As for the latest commit, it works on my end so far without issues. But I was expecting when the default Save Image As... is relocated to a submenu, it should also be removed from the main context menu.
That's the idea, else there's no point in reduplicating tha

[2013-01-15 07:57] choobin opened #8 "'Save Image As' default download directory"
AMO user Kevin made the following feature request as a comment on the CMIS download page.

An excellent suggestion. I can modify the 'Save As' button to set a default directory which can be configured by the user.

[2013-01-15 08:12] choobin opened #9 "Option to edit/create a folder path from the context-menu."
AMO user Kevin made the following feature request as a comment on the CMIS download page.

This could be in the form of a CMIS item that loads the settings XUL.

Note: I am going to have to move some of these options into an 'advanced' tab. Perhaps a <menubar> item.

[2013-01-15 08:12] choobin opened #10 "Option to import/export CMIS settings."
AMO user Kevin made the following feature request as a comment on the CMIS download page.

This is a great idea. It gets quite annoying having to recreate complex CMIS settings now and then.

[2013-01-15 08:12] choobin opened #11 "Options for status bar notification of saved image."
AMO user Kevin made the following feature request as a comment on the CMIS download page.

This might fit in the advanced settings tab.

Personally I use the 'Download Statusbar' extension. This shows a temporary notification in the status bar. However, I do see the need for users that do not have this installed. Some sort of notification is necessary.

[2013-01-15 08:32] choobin commented on #5
I see. The problem I have here is that it is hard to determine what is just a sub-menu and what is a sub-menu that also corresponds to a path.

How about an option that takes a directory and uses it to construct a CMIS menu automatically. This would create entries for every directory/sub-directory from the root path (including save to folder entries like you suggested)?

This would actually be qui

[2013-01-15 08:33] choobin commented on #6
Added to CMIS in [e344f21d85](https://github.com/choobin/cmis/commit/e344f21d85d8c8eabd544fb0f59ae9a38115cfa8).

[2013-01-15 08:33] #6 closed, assigned to choobin

[2013-01-15 13:13] KevinSanders commented on #11
Hi Choobin,
Agreed...any sort of notification would be fine.

[2013-01-15 13:16] KevinSanders commented on #10
I have way too many. haha. I use a lot of image references for 2D and 3D work, etc.

[2013-01-15 13:23] KevinSanders commented on #8
That would be great per-parent folder. For example the user could have the parent folder (Animals or Fashion, Architecture, People, etc).

Thanks for the quick reply Choobin! :)

[2013-01-15 13:33] KevinSanders commented on #5
This is somewhat related, when creating a new folder path and you already have one selected on the left, it would be nice if it creates the new folder as a sub-folder of the currently selected one.

Also, I like that "Save here" as in the screengrab, could be a nice alternate way to save to the parent directory as I mentioned in a previous request.

[2013-01-15 13:50] themipper opened #12 "[request] automatically create subfolder by pattern (e.g. date)"
Hi,

I tend to sort my downloaded images by category and date. I do this by creating folders for each month of the year {YYYYMM}. Or even {BaseFolder}/{YYYY}/{MM}

It would be nice if you could define a pattern for the automatic creation of subfolders.
So {BaseFolder}/{Pattern}/ becomes the target folder.

[2013-01-15 22:48] choobin opened #13 "'!' an item delimiter prevents directories from containing "!"."
Just received an email.

An oversight on my part.

CMIS currently uses "!" as an internal delimiter, thus preventing it from being in the actual context label or path. This will need to change.

[2013-01-15 23:03] choobin commented on #12
An interesting proposal. You mentioned a pattern. Where would we define this pattern?

Did you see this comment? [issues/5#issuecomment-12257722](https://github.com/choobin/cmis/issues/5#issuecomment-12257722). It is sort-of similar. You could create your directory hierarchy and then get the settings menu to construct the menu automatically. Although what to do when a new month comes around?

[2013-01-15 23:51] themipper commented on #12
![2013-01-16_00h48_12](https://f.cloud.github.com/assets/3257908/69811/1803572c-5f6e-11e2-8b1f-e18b0b0cc348.jpg)

I would define the pattern at each menu item independently.

I saw the other request and it looked to static and time consuming to setup for my use case :-)

[2013-01-16 10:14] KevinSanders opened #14 "Suffix for image name"
Could you please add a suffix field? Sometimes I like to append words related to an image so I can easily find them later in a search (as they can cross various folders, ie: 1920's (clothes, architecture, transport, etc).

[2013-01-16 11:21] nhantrn commented on #11
@KevinSanders You could install Statusbar-4-Ever addon and it will shows you download status when saving images. https://addons.mozilla.org/en-US/firefox/addon/status-4-evar/

It restores the statusbar that used to be in legacy FF3.6 before Mozilla had the genius idea to replace it with the useless addon bar.

[2013-01-16 12:35] KevinSanders commented on #11
Thanks for the link nhantrn! The "Statusbar-4-Ever" add-on is nice. I've used "Download Statusbar" (as Choobin mentioned above) in the past. But I'd rather something as part of this add-on though, without having to install extra add-ons (I already have loads...lol).

[2013-01-17 03:29] choobin commented on #11
Just some notes for implementation.

It looks like the status bar was [deprecated](https://developer.mozilla.org/en-US/docs/XUL/statusbar) a long time ago (FF4.0).

We can achieve similar functionality by calling, [nsIXULBrowserWindow.setOverLink](https://developer.mozilla.org/en-US/docs/XPCOM_Interface_Reference/nsIXULBrowserWindow#setOverLink(\)).

[2013-01-17 03:34] choobin commented on #14
Just for clarification. You mean before the actual file suffix right?

For example, %PREFIX_%NAME_%SUFFIX.jpg where .jpg is the file suffix.

I was thinking of scrapping the prefix field altogether and having a entry to configure the complete filename. That is, introduce new variables such as, %NAME, %FILESUFFIX, %URI, %{other stuff that might be handy}.

[2013-01-17 15:51] choobin opened #15 "CMIS needs a FAQ"
Default cache behavior

Prefix variable usage

etc...

[2013-01-17 16:02] KevinSanders commented on #14
Oh yes, before the actual file suffix (*.jpg, etc),

Complete file naming variables would be a great. Thanks!

[2013-01-17 16:20] choobin opened #16 "Insert new menu items under this.selection.currentIndex"
Kevin Sanders made an insightful comment in issue/5 regarding placement of new items.

Implementation notes:

This occurs in src/content/items.js:treeview.insert.

The selected item is this.selected.currentIndex.

[2013-01-17 16:25] choobin commented on #5
Good spot. From a usability perspective this feels much better. I have created a separate [issue](https://github.com/choobin/cmis/issues/16) for this so it does not get lost.

I have almost finished an option that will generate a menu from a directory hierarchy. This will create the 'Here' items for each directory by default. It hopefully should fulfill this requirement.

[2013-01-19 19:04] choobin commented on #5
Save Image As menu items are now able to (optionally) select a directory to begin browsing from. Otherwise it will act as the default Firefox 'Save Image As' item. Furthermore, I have added an option to hide Firefox's "Save Image As" context menu item.

Regarding this request. I have not explicitly added this, however, I have added a 'generate menu from directory tree' option. This will build a me

[2013-01-19 19:04] #5 closed, assigned to choobin

[2013-01-19 19:05] choobin commented on #8
Save As items can now optionally select a default directory to start browsing from.

[2013-01-19 19:05] #8 closed, assigned to choobin

[2013-01-19 19:05] choobin commented on #9
Implemented in [95c9eb92f3](https://github.com/choobin/cmis/commit/95c9eb92f3d2e695da99a6f9ee0bb0c601f7cace).

[2013-01-19 19:05] #9 closed, assigned to choobin

[2013-01-19 19:08] choobin commented on #10
Initial implementation in [b1ad16f2d1](https://github.com/choobin/cmis/commit/b1ad16f2d109c10ca19a6368afbb1c3ea87659f1).

It works fine. However there is one issue I am still pondering over. Currently it only imports/exports menu configurations. That is, it does not save any user preferences, for example, where the menu is placed or the file overwrite behavior. I am happy with this for the time be

[2013-01-19 19:08] #10 closed, assigned to choobin

[2013-01-19 19:12] choobin commented on #11
Implemented in [85a5eec19b](https://github.com/choobin/cmis/commit/85a5eec19b451dc750a827cb4e39ff740aa6c643).

It is using setOverLink. I have encountered a slight issue here. If the mouse is on top of a link when the context menu closes Firefox will call setOverLink for the link and replace our notification. If this becomes an problem please re-open this issue and I will look into it further.

[2013-01-19 19:12] #11 closed, assigned to choobin

[2013-01-19 19:14] choobin commented on #13
Fixed in [d99384462a](https://github.com/choobin/cmis/commit/d99384462a8dfbed31782f9fe643a2dfe87653e5).

The directoryList string is now JSON formatted and there are no limitations on name, path and prefix values due to delimiters.

[2013-01-19 19:14] #13 closed, assigned to choobin

[2013-01-19 19:17] choobin commented on #14
This has been addressed in [d40334356f](https://github.com/choobin/cmis/commit/d40334356fc3659dfe1de04c2c48cecada7d24f6).

The 'prefix string' property has been removed in place of 'format string' which gives control over the complete format of file name. This is a much better solution than having a prefix and suffix field. The new format variables are displayed in the edit dialog.

[2013-01-19 19:17] #14 closed, assigned to choobin

[2013-01-19 19:17] choobin commented on #16
Implemented in [3d78ccce6c](https://github.com/choobin/cmis/commit/3d78ccce6c831d3e3da4fa291197a539dcc79cd7).

[2013-01-19 19:17] #16 closed, assigned to choobin

[2013-01-19 19:21] choobin opened #17 "Undo/Redo options when editing menu layout."
I have been burnt too many times accidentally deleting a large sub-menu and complex items.

Provide options to undo/redo menu editing actions.

[2013-01-19 21:00] KevinSanders commented on #7
If you go ahead with this, Please make it optional in the settings (IF it will slow the saving process down). Thanks.

"moves reading chair in corner of room with fez and pipe" hahaha :)

[2013-01-19 21:02] KevinSanders commented on #17
This is interesting, but I think the export/import settings may be better? Maybe they can auto save when the user is finished tweaking them? (once they press "Done") ...and then just import the last good one?

But yes Undo/Redo is a nice idea!

[2013-01-19 21:08] KevinSanders opened #18 "Larger (vertical) default Settings window size"
At the moment on my monitor, the settings window opens at approximately 30% of the vertical screen size. Can you make this taller by default? I have to constantly resize it every time I open it.

[2013-01-19 21:10] KevinSanders commented on #16
I've downloaded/installed the latest source. This is working GREAT. Thanks!

[2013-01-19 21:24] KevinSanders opened #19 ""Generate menu from a directory tree" tweaks"
This is working great! But can you add it as a button on the right-hand side instead (for new users, etc)

One thing, if I manually add/remove a folder outside of firefox, it would be nice if we could update the existing generated directory tree. Currently if I open the "Edit" window for the ROOT item of the generated tree, it just displays the root address. Can you add a button for "Rebuild direc

[2013-01-19 21:39] KevinSanders opened #20 "Import/Export settings"
It exports the full contents of user paths. But what I find after testing twice, it puts what was Root folders in the menu as sub-folders of some root folders.

Example: I had a folder structure similar to this:

2D (submenu item)
--- Paintings
--- Sketches
--- Graphic

3D (submenu item)
--- ZBrush
--- Maya
--- Characters
--- Vehicles

But when I cleared everything from the settings and imported m

[2013-01-19 21:45] KevinSanders commented on #20
Also, when I removed all of my custom paths (before importing them back in), there was no trace of CMIS in the context menu. I had to go to the add-on page and proceed from there. It would be great if you had a default position at top of the context menu (or as specified in the settings). Personally as the top-most item is best as it gives quick and easy access to CMIS. "Open Settings" or similar

[2013-01-19 21:54] KevinSanders commented on #20
Another thing I just noticed when trying to re-arrange the menu after importing. I had to click UP/DOWN to move the root folder back into a root position, clicking multiple times. Could you add a button on the right side "Make Root", <-- or something? So it jumps to the main root position? Or something similar to this at least.

OR much better if possible, the ability for the user to Drag the fold

[2013-01-20 06:26] choobin opened #21 "Display 'Open Settings' context item when nothing has been configured."
Kevin mentioned in a previous issue.

This is a great idea. I have had many people contact me stating that they have no idea how to get started with this extension. Say, a 'get started' or "configure settings" or "something something" context menu item when nothing has been configured would be an ideal solution to this problem.

[2013-01-20 06:29] choobin opened #22 "Better movement of sub-menu items in treeview."
Kevin mentioned in a previous issue.

Indeed. There really needs to be a few more options for movement of large sub-menus. I was thinking of copy/paste/make root right-click context menu items (or buttons).

Thinking out loud. There is a slight issue with 'make root' option. What if we want to make nested sub-menu a root sub-menu. Do we place it above or bellow the current block?

[2013-01-20 06:32] choobin commented on #20
Thanks for spotting that. Looks like one more test case to add to the list. I fixed the issue in [186e731a43](https://github.com/choobin/cmis/commit/186e731a437df64fc219c9b08282252ba4262196).

Regarding you two other comments. All good ideas. Seriously, thanks for all of the suggestions. I have created a new issues for them so they do not get lost.

[issue/21](https://github.com/choobin/cmis/issue

[2013-01-20 06:32] #20 closed, assigned to choobin

[2013-01-20 06:37] choobin commented on #18
Interesting. It looks like there was no minimum height value set. I have tentatively set it to 500px [fa103ad516](https://github.com/choobin/cmis/commit/fa103ad516a8c0c5a7d16648703ff08849a4aba5).

[2013-01-20 06:37] #18 closed, assigned to choobin

[2013-01-20 06:59] choobin opened #23 "Generate Menu option to rebuild directory tree"
Kevin mentioned in a previous issue.

[2013-01-20 07:00] choobin commented on #19
Indeed 'Generate Menu' fits nicely in the button list [2530140a7d](https://github.com/choobin/cmis/commit/2530140a7d217af0d1c029e7ac50e42929d40d2b).

This can also apply to normal items. That is, if an items path is deleted what should happen? From memory I think CMIS will create the path again before it calls save. I do not know if this is desired though. Nobody has mentioned it yet (:

I have op

[2013-01-20 07:00] #19 closed, assigned to choobin

[2013-01-20 14:00] KevinSanders opened #24 "Save Image As (Tweak)"
I've noticed when I want to use it, I'm already close to where I want to "save as" in the left tree. (ie: Animals > Cats)

Which in my case is "F:\Photo & Art Reference\Animals\Feline\Cats"

When we click the "Save Image As" button, It would be great if it automatically copies the "save path" of the selected item (as a starting point). Then the user could change the last item in the save path. In

[2013-01-20 14:02] KevinSanders commented on #18
The latest version is perfect thanks! (No need for me to maximize the window any more)

[2013-01-20 14:09] KevinSanders commented on #20
You're totally welcome! I truly appreciate your time invested in tweaking your great add-on.

Import/Export is now working as expected.

[2013-01-21 03:56] nhantrn commented on #22
You should make the tree collapsible and add drag-n-drop to manipulate the items order easier. That's the standard UI practice in Windows anyway, would be a good practice to adopt that.

[2013-01-21 04:08] nhantrn commented on #23
This process should be automatic so that users shouldn't have to do a manual refresh. But I notice that generating menu is very cpu intensive.

How about when the mouse selecting a submenu folder, have the addon run the menu generating script in real time and store in the in garbage memory? That way, it should still be in memory for when you're in a image saving session. Then it'll be flushed by F

[2013-01-21 04:13] nhantrn commented on #7
Awesome, this is definitely a nice extra. So, you could just put it way down in the to-do list for now.

You're on a roll with this addon chobbin.

[2013-01-21 04:39] nhantrn opened #25 "[criticals] Context menu completely disappear"
I notice that after adding more items to a submenu, the context menu is gone when you go back to a page. Right clicking doesn't bring up the context menu after at all. You will need to restart Firefox to bring back the context menu.

Also, I notice that the experimental feature "Save links not just images" doesn't work. When I right click on a thumbnail to save the linked image, it saves the thumb

[2013-01-21 05:18] choobin commented on #24
Interesting. I will look into this. There are methods to set a start directory for nsIFilePicker. It might get a little hairy determining when it is appropriate to automatically add a path and when not to.

[2013-01-21 05:24] choobin commented on #22
I completely agree. Collapsing sub-menu's should relatively easy to implement. However, it might take some time to get drag and drop working. Working with a custom XUL treeview element is a real pain to work with.

[2013-01-21 05:32] choobin commented on #23
Currently the menu items are dynamically created each time a context menu is created. So it does make sense to do this in real-time. However, I do not know if refreshing a directory tree automatically would be fast enough. As you have mentioned, traversing directories is quite slow and CPU intensive. There is no actual method in Javascript to traverse directories. I am using [nsIFile](https://deve

[2013-01-21 05:41] choobin opened #26 "The experimental feature "Save links not just images" doesn't work."
@nhantrn mentioned in another issue

[2013-01-21 05:43] choobin commented on #25
Crap! I can not seem to reproduce this. If possible could you please describe steps that might reproduce the error on my end. This will be a tremendous help.

Also, could you check if there are any CMIS related error messages showing up in the error console.

To open the error console type: Ctrl - Shift - J

Or navigate from the Firefox button: Firefox -> Web Developer -> Error Console

The filter

[2013-01-21 06:15] choobin commented on #26
Consider the following HTML snippet.

`<a href="..."><img src="..." /></a>`

If the "Save links not just images" option is set what should get priority, the image or the link?

In the URL @nhantrn mentioned, the car is both a thumbnail image and a link to a larger image. Currently CMIS prioritizes the image and the thumbnail will be saved.

The image take priority here because this is the purpose

[2013-01-21 06:28] choobin opened #27 "Nested sub-menu's not displaying correctly in context menu."
Consider the following menu configuration.

![settings](https://f.cloud.github.com/assets/211907/82213/7d56dad0-6393-11e2-9427-399a4718da82.png)

This is how it ends up in the context menu.

![menu](https://f.cloud.github.com/assets/211907/82214/7f6d5d76-6393-11e2-9632-4abee979f6bc.png)

Note that the DDD sub-menu should display bellow BBB, not CCC.

[2013-01-21 06:35] choobin commented on #27
Super quick fix. c181117e44.

[2013-01-21 06:35] #27 closed, assigned to choobin

[2013-01-21 08:49] nhantrn commented on #25
here's screen video of the of the bug http://temp-share.com/show/Pf3Yy3tc2

If I change anything in the menu items, it will produce that bug. From adding new items, deleting items, edit an item.

Now I though it could be interference with other ad-dons, but there's an bigger bug when I install this add-on on a clean profile of a firefox portable I keep to test stuff. When I install this addon on i

[2013-01-21 09:04] nhantrn commented on #26
Actually, you're right, if it's just a link to an image, then the linked image get saved. However, the thumbnail link is the problem. You should work this out. Perhaps you should make a distinction between "Save Image As..." and "Save Link As..."

[2013-01-21 09:30] nhantrn commented on #23
So you are working purely in javascript? Maybe native codes might work better with the filesystem.

[2013-01-21 11:39] KevinSanders commented on #24
I was thinking of that also, when the user opens the settings, nothing is selected on the left, so default behaviour would be to create it at the root level. But if the user is navigating through the list on the left, I'd imagine they were close to where they wanted it (that's just me thinking out loud of course). The main path (in my case) of "F:\Photo & Art Reference\" would be a nice starting p

[2013-01-21 11:50] choobin commented on #25
Wow. What a perfect method to describe the problem. Thank you for the video.

This is concerning as I can not reproduce the issue. If you have time could you please send me bit more information and I will fix this asap.

First.

What operating system are you using?

Is is a 32 or 64 bit version?

What version of Firefox are you using?

Do you have any other extensions installed that modify the con

[2013-01-21 12:01] choobin commented on #23
Firefox extensions are written in Javascript. The nsIFile is a XPCOM interface written in C++. It is probably as fast as it will get.

I like the idea of dynamically updating the menu so I will keep this open and work improving it once I fix [issue/25](https://github.com/choobin/cmis/issues/25) and release it on AMO.

[2013-01-21 12:23] choobin commented on #24
Firefox has a 'previous directory used/navigated to' variable that I could use. This might work here. In most cases the path will be close (or exactly) what is needed.

By the way, just curious, are you experiencing any of the problems described in [issue/25](https://github.com/choobin/cmis/issues/25)? I am totally stumped. I have tested it on Windows/Linux/OSX with all FF versions from 9.0 to 18.

[2013-01-21 12:37] choobin commented on #26
Exactly. The troubling aspect of this is where should the distinction be made?

I completely understand the reason for the developer of "Save Image in Folder" to develop a separate extension for "Save Link in folder". It's tough, really tough.

[2013-01-21 13:02] KevinSanders commented on #25
Hmm..I don't have this issue at all. I've got custom file formats, etc.

I've just enabled the save links (I personally don't use it), but it doesn't save any link in the same directory (or anywhere I can see).

Using the latest cmis-master.zip (20130119):
MD5: DF032F7521D49DA8C9FC688C04B24356

Choobin, as a side-note, is it possible to name the zip file with a unique date/build? (or can we get an

[2013-01-21 15:55] nerbrume opened #28 ""Save as..." : allow pre-formatted name"
Following Issue #8, would it be possible to specify a default name for the saved image, even when we open the "save as" dialog ?

Ergonomy-wise, if this is done, I think that rather than adding a new kind of "item" in the menu, adding a checkbox labelled "open save dialog" in the standard item creating dialog would make more sense.
If I'm not clear, enough, tell me, I'll make a mock-up.

[2013-01-21 21:14] KevinSanders opened #29 "Disable Default context menu when using CTRL+RMB"
I've just started using this hotkey. Very nice and simple idea. The only thing is the default firefox context menu appears every time I use it (which is annoying on galleries as it blocks the next arrow). Could you block the default context menu from appearing while using CTRL+RMB or allow a custom user shortcut?

I've tried the "customizable-shortcuts" add-on. Although it lists other add-ons, it

[2013-01-21 22:59] choobin commented on #28
A fantastic idea. Cheers.

[2013-01-21 23:02] choobin commented on #28
Oops. Reopen. No more github on the phone for me.

[2013-01-21 23:03] choobin commented on #28
Sigh.

[2013-01-21 23:14] choobin commented on #29
I have encountered this issue before. After a massive  investigation I was lead to believe that this behaviour was caused by CMIS and other extensions not playing well togeather.

If you have some spare time could you do a test for me? Create a new profile with no extensions installed and install CMIS and see if it still happens. Then progressively install your other extensions until we find the c

[2013-01-22 00:52] nhantrn commented on #26
Can you explain what js method you are using to save image? I notice saving image doesn't get recorded in Firefox's download manager.

Maybe you could piggyback ride Firefox's save functions. That way you won't have to bother with extra codes to make distinctions at all.

[2013-01-22 01:52] nhantrn commented on #25
First,
I'm using Firefox 19beta  on win7x32.

I have four add-ons that have its own menu item in the context menu. They are Launchy, Image Lookup, ABP, and Firebu

Second,
I forgot to mention in previous, but there were no errors message in the console

Third,
This is problematic, I removed CMIS. Now I reinstalled CMIS, but it won't let me add anything (which I mentioned in my earlier post). So no

[2013-01-22 03:23] KevinSanders commented on #29
Will do! I'll update this post with my findings.

---

OK, made a different profile called CMIS with "firefox.exe -P". Installed the same version (MD5: DF032F7521D49DA8C9FC688C04B24356). No other add-ons.
- I tried to add paths. Nothing showed up. Just remained blank.
- Tried to import my settings. Still nothing.

That was weird. Deleted that profile and created a new one called "test". Same resul

[2013-01-23 00:20] KevinSanders commented on #29
OK, added all my add-ons to a new profile (Used FEBE to back everything up...man that was still a pain due to so many addons...LOL). Added them one-by-one and tested after each restart.

Would you believe the RMB works fine now? The test profile is now my current one. Go figure!

[2013-01-23 05:58] choobin commented on #25
@KevinSanders
@nhantrn

Thank you both for the information. This is really troubling. I have a very stringent test procedure across three operating systems and all version from 9.0 to the latest beta and have not encountered any of these issues. I am completely stumped.

If it is not adding anything in the menu it could be an issue with the directory list variable `extensions.cmis@moongiraffe.net.

[2013-01-23 06:05] choobin commented on #26
@nhantrn. I am using the internal function [nsIWebBrowserPersist.saveURI](https://developer.mozilla.org/en-US/docs/XPCOM_Interface_Reference/nsIWebBrowserPersist?redirectlocale=en-US&redirectslug=nsIWebBrowserPersist#saveURI%28%29) for downloading. Note that by default I have configured it to pull the image from the cache if it is there.

It should show up in the download manager. It is one of my

[2013-01-23 06:09] choobin commented on #28
Just a follow up. Apologies. I have been away and was having lots of trouble with my _ridiculous_ phone.

This is a great idea. Before the next release I will remove the 'Save Image As' button and integrate it as an option to the 'Item' type. Cheers.

[2013-01-23 06:17] choobin commented on #29
@KevinSanders

Cheers for everything.

Wow. Very frustrating. At least you have a functional set-up!

The following [two lines](https://github.com/choobin/cmis/blob/master/src/bootstrap.js#L341-L343) _should_ prevent the quick save event from creating the context menu.

I think the source of the issue boils down to too many extensions mucking with the context menu. As soon and I get some time I wi

[2013-01-23 06:29] choobin commented on #25
A good idea. [Here](https://github.com/choobin/cmis/tags) is a list of versions released on AMO since I put it up on github. From now on I will also tag and date stamp development versions, so refer to that page in the future when you want to download the latest release.

[2013-01-23 14:49] KevinSanders commented on #29
No worries. Although I'm using all of the same add-ons, firefox feels a tad lighter.

The only one I was suspecting was this:
https://addons.mozilla.org/en-US/firefox/addon/flash-video-downloader-youtube/
As just after installing it, the context menu showed only the one time. But it hasn't showed since.

What about adding a user definable shortcut? One that uses the LMB instead maybe? There's prob

[2013-01-25 01:25] KevinSanders commented on #29
So far it's still working great. Really handy now that the context menu isn't getting in the way.

One thing though. Can you make it use the same save path as opposed to the "save image as..." action? When I try to save to same directory that I used that for, it keeps opening the "save image as" window (which defeats it's purpose). When CTRL+RMB saving an image to a previously used path, it works

[2013-01-26 08:28] choobin opened #30 "Alternative quick save shortcuts."
Lets provide a few alternative quick save options. For example, Ctrl-LMB, LMB-LMB, RMB-RMB, Shift-Something, etc..

[2013-01-26 08:35] choobin opened #31 "Quick save on 'Save Image As' items."
The quick save action on 'Save Image As' items should save to the path previously selected from the save as dialog, not open the dialog again.

Notes:

Will need to add a two new preferences. The index of the previous context menu item selected. The path selected from a 'save as' dialog. If the menu is modified both preferences should be wiped. On a quick save action we need to check the two prefe

[2013-01-26 08:36] choobin commented on #29
Providing other shortcut combinations is a great idea [issue/30](https://github.com/choobin/cmis/issues/30).

Good spot [issue/31](https://github.com/choobin/cmis/issues/31).

I looks like I will get some time over the weekend to work on CMIS. So stay tuned.

[2013-01-26 12:08] choobin commented on #26
@nhantrn With further investigation into the issue I have discovered that arguments to saveURI were incorrect. This was preventing correct communication with the download manager on some combinations of OS/FF.  This was fixed in [9393599eaa](https://github.com/choobin/cmis/commit/9393599eaa9ac4809b7372d9f5e862705f81a72b) and will make it into the next release. Cheers.

[2013-01-26 12:16] choobin commented on #25
@nhantrn Hi again. Just checking to see if the issue persisting? If you have the time, could you create a new profile and see if the newest build has the same issue. Regards, choobin

[2013-01-28 03:41] KevinSanders commented on #30
CTRL+RMB is still working fine in the new profile for me (as I've mentioned).

Shift+s would be a great addition to these! (as I use this as a shortcut (modified) in PotPlayer for saving the current frame), and could save other users from any issues with the context menu.

[2013-01-28 07:39] choobin commented on #24
Added in [75e5fbaa83](https://github.com/choobin/cmis/commit/75e5fbaa831652f556c65ca9002c616498e38b9b).

Each time the path selection dialog is used it will store the selected directory.

When a new item is created it will use the _root_ directory of the previously selected directory. I use the root directory here as I found that I was always moving back a directory during menu creation. If this b

[2013-01-28 07:39] #24 closed, assigned to choobin

[2013-01-28 07:43] choobin commented on #28
Added in [bda92d9774](https://github.com/choobin/cmis/commit/bda92d97745824bb1059715c62e4ad8243bac058).

The Item and Save As item have been merged together with the inclusion of an option to open the save as dialog before save.

[2013-01-28 07:43] #28 closed, assigned to choobin

[2013-01-28 07:45] choobin commented on #29
Updated in [ea301ddab1](https://github.com/choobin/cmis/commit/ea301ddab1d49ce11353ad872830f4871baa7305).

I have a possible solution. I am now calling stopPropagation and preventDefault on the click event as soon as possible. This _should_ prevent FF or any other extensions from mucking with the context menu. I will close this issue for now. However, it starts happening again I will have to reope

[2013-01-28 07:48] choobin commented on #31
Addressed in [26c7a1cda1](https://github.com/choobin/cmis/commit/26c7a1cda175d08d015ca5e3fa646b200e52694d).

If quick save is called on an item with the 'Save As' option enabled it will check to see if a path has been stored and use that.

[2013-01-28 07:48] #31 closed, assigned to choobin

[2013-01-28 08:46] nerbrume commented on #28
Great, thanks !
(funny : I had a look at it myself this week-end, and even implemented a working version (fairly easy, since you did all the hard work), and was about to report it here, but you beat me to it !)

[2013-01-28 11:00] choobin commented on #28
Ahhh drats. Hey, thanks anyway. Contributions are very welcome.

[2013-01-28 15:20] KevinSanders commented on #24
"When a new item is created it will use the root directory of the previously selected directory." - Is it taking the path location from the item in the list?

I've installed the latest (20130128), If I create a new path item or when I select something in the list, and then add a new item. The path field is empty. I've previously just saved the zip for CMIS and that's where it's defaulting to (defa

[2013-01-28 15:28] KevinSanders opened #32 "Holding Shift while selecting context item opens "save as"? (Request)"
Could this be possible?

If I select one of my paths from the context menu to save to (without using the great addition of the "open save as.." tick box), by default it saves directly to that folder. What if we can hold Shift while we select it to make it open the "Save as" dialogue pointing to that directory?

[2013-01-28 16:30] choobin commented on #24
Ah. OK. I think I see what you mean. What I have implemented is as follows.

When a new item is created and the path is selected it will store it. The next time an item is created _and_ the user clicks the select path button it will start from the previously stored root directory. This makes browsing for new items much easier as it will (in most cases) be in a very close position to the next requi

[2013-01-28 16:31] choobin commented on #32
[fa0843a3a7](https://github.com/choobin/cmis/commit/fa0843a3a792f16efa7039c19ead0f4b9765d3b0)

Great idea. Lets keep it as an undocumented feature at the moment. Only because I do not see where in the extension I could mention it. I will have to add it to the FAQ. Tell me how it goes.

[2013-01-28 16:39] KevinSanders commented on #32
Now that was a fast implementation! Works perfectly. This saves me adding extra items to my already big path list.

THANKS!

[2013-01-28 17:21] KevinSanders commented on #24
"When a new item is created and the path is selected it will store it. The next time an item is created and the user clicks the select path button it will start from the previously stored root directory. This makes browsing for new items much easier as it will (in most cases) be in a very close position to the next required path."
That sounds right. But when I do this, it doesn't seem to be going

[2013-01-29 13:17] choobin commented on #24
Ah. I see what you mean. I might leave this on the back burner for a while. I want to get the current development build to a point where I can release it on AMO.

[2013-01-29 13:17] choobin commented on #32
No problems. It is a pretty neat idea. I find myself using it quite frequently.

[2013-01-29 13:28] choobin commented on #29
I am re-opening this issue.

I have received reports that is it still occurring (intermittently) when

https://addons.mozilla.org/en-US/firefox/addon/video-downloadhelper/

and

https://addons.mozilla.org/en-US/firefox/addon/flash-video-downloader-youtube/

are installed.

[2013-01-29 13:35] choobin opened #33 "Provice features akin to "Image Toolbar" extension"
AMO user Lycian SAGE provided the following suggestion in a comment on the CMIS page.

[2013-01-29 13:36] choobin opened #34 "Add 'from clipboard' format variable"
AMO user Lycian SAGE provided the following suggestion in a comment on the CMIS page.

[2013-01-29 13:39] choobin opened #35 "Advanced renaming of files"
AMO user Lycian SAGE provided the following suggestion in a comment on the CMIS page.

[2013-01-29 13:54] choobin commented on #25
Right. So I just encountered this bug. I traced it to the way the dialog was created. See [f13547749d](https://github.com/choobin/cmis/commit/f13547749d3335398cae9f1ac5b7abdc10ae578e). I will close this for now. However, if the issue remains please contact me.

[2013-01-29 13:54] #25 closed, assigned to choobin

[2013-01-30 00:38] nhantrn commented on #25
Sry, for late reply. It seems you have fixed the issue. Awesome.

[2013-02-02 18:37] KevinSanders commented on #33
IMHO I think it's overkill for CMIS.

[2013-02-02 18:39] KevinSanders commented on #29
Flash Video Downloader works fine with CMIS now. I haven't used Video DownloadHelper since I started with this new profile. So that could well be the culprit.

[2013-02-02 18:46] KevinSanders commented on #32
One thing I've just noticed. If I use Shift with (for example) "Cats" to navigate to another folder called "Lions" and save the image. It works fine. But from there I was using the CTRL+RMB for quicksaving to the "Lions" folder. But it was instead saving to the original "Cats" folder.

[2013-02-03 23:17] choobin commented on #33
I agree. Definitely out of scope for this extension.

I have fond memories of image-toolbar from way back. It is a pity the developer has neglected it. If I get some spare time I might see about taking it on and updating it.

[2013-02-03 23:17] #33 closed, assigned to choobin

[2013-02-03 23:23] choobin commented on #22
I had an awful lot of fun over the weekend playing with the Treeview element. It should support submenu expand, collapse and dran-n-drop operations.

Refer to the initial commit [8a23124f78](https://github.com/choobin/cmis/commit/8a23124f782e70c831c0484723f3742a4ebb64da).

For testing I have made a development tag [20130204-dev](https://github.com/choobin/cmis/archive/20130204-dev.zip).

[2013-02-03 23:37] choobin commented on #29
Thanks for the information. I have been playing around with the extension. I still can not seem to replicate the issue. However, I have encountered it before. I will figure out what is going on at some point.

[2013-02-03 23:38] choobin commented on #26
Forgot to close this issue with my last comment.

[2013-02-03 23:38] #26 closed, assigned to choobin

[2013-02-03 23:59] choobin commented on #32
Currently the quick save action is only configured for context menu items. It might take a bit of tinkering to get it working for prompted directories. Thanks for describing the use-case. Indeed, it would be quite handy. I will re-open this issue.

[2013-02-04 00:35] KevinSanders commented on #22
LOL "Awful" and "Fun" in the same sentence doesn't sound that fun. Thanks for your time on this. Really appreciated!

I like the expand/collapse all. Nice addition.

I tried dragging some items around. But when I exported the settings, deleted all the current settings (paths list) and re-imported the saved settings file. The list was the same as before I moved things around. Otherwise the tree ite

[2013-02-04 02:49] choobin commented on #22
Drats. I forgot to call update after a drop operation. This -- [190b82f737](https://github.com/choobin/cmis/commit/190b82f737dbebaf64ef6ea695260de40a8228db) -- should fix it. I remade the [20130204-dev](https://github.com/choobin/cmis/archive/20130204-dev.zip) tag. It should import/export/update correctly now. I will re-open this issue until I get some time to test it further.

I encountered this

[2013-02-04 03:56] KevinSanders commented on #22
That's done the trick! Nice one! :+1:

[2013-02-04 04:46] choobin commented on #17
Undo/Redo with Ctrl-Z/Ctrl-Y shortcuts -- [01c60055b2](https://github.com/choobin/cmis/commit/01c60055b209729064c0156d65fdd7f12a590eeb) -- very neat.

[2013-02-04 04:46] #17 closed, assigned to choobin

[2013-02-04 12:59] KevinSanders commented on #17
Excellent. Works great! :)

[2013-02-04 14:21] choobin commented on #22
OK. So I have -- [3866312531](https://github.com/choobin/cmis/commit/38663125310f411921c739f3a4eb9dcdd48f9cd5) -- simplified the drag and drop behavior to only allow DROP_AFTER orientation events. This makes things significantly easier to deal with code wise and also fixed the select issue discussed above. I am still going to keep this open for a while to see how it goes.

[2013-02-08 04:28] choobin commented on #22
Drag and drop, expand/collapse and correct selection of items after movement all work without a hitch. I am quite happy with it.

Refer to [20130207](https://github.com/choobin/cmis/archive/20130207.zip). I have actually submitted this version to AMO. It should be live within 1~2 weeks.

[2013-02-08 04:28] #22 closed, assigned to choobin

[2013-02-08 10:13] nhantrn commented on #22
great job! thanks for your hard work.

[2013-03-05 01:33] KevinSanders opened #36 "[Suggestion] Add "Recent Folders" to top of context menu..."
Hi again!

So, once we've saved to a few different locations, it would be nice to access them later in the session from a "Recent Folders" item at the top of the context menu.

Example, I save pics of Dogs, Foxes, Bugs ....and I would like to check my "Foxes" folder for reference. I could navigate like this: Recent Folders > "Foxes" (clicking foxes opens the Foxes folder).

Not sure if possible, b

[2013-03-06 10:50] choobin commented on #36
G'day! How's it going?

Yeah. A good idea. I like it.  Definitely on the cards for the next update.

Just thought of another idea. Right-click context menu items to open selected folder for browsing -- going to have to add that too :D

[2013-03-06 12:42] KevinSanders commented on #36
Hey Chris, smooth sailing since the last update. Glad you're open to all these suggestions. :+1:

Oh yeah! That's a great idea!

[2013-04-21 10:21] choobin opened #37 "New format variables for save paths."
AMO user b77 suggested the following additions to CMIS format variables.

[2013-04-21 10:21] choobin opened #38 "New format variables for file names."
AMO user b77 suggested the following additions to CMIS format variables.

[2013-04-21 10:21] choobin opened #39 "%ALT format variable issues"
AMO user b77 mentioned a nasty bug on the CMIS page.

[2013-04-21 10:21] choobin opened #40 "Menu item hotkeys."
From AMO user b77 comments on the CMIS page.

[2013-04-21 10:21] choobin opened #41 "Optional sound after save action."
AMO user b77 provided the following suggestion on the CMIS page.

[2013-04-21 10:21] choobin opened #42 "Automatic path construction."
AMO user b77 provided the following suggestion on the CMIS page.

[2013-04-29 17:13] gitscrub opened #43 "No referer = cannot save"
The extension does not work for sites that require referer information to save an image.  It will give you a 1kb file containing http error code.

[2013-04-29 23:20] choobin commented on #43
G'day,

Thanks for taking to time to report the issue. I have a few questions if that is ok.

What operating system are you using?

What version of Firefox are you running?

Could you please provide a URL of an image that requires referrer information to save so I can reproduce and fix the issue.

Regards,

choobin

[2013-06-14 18:55] simonbcn opened #44 ""Save image as..." doesn't work"
`Firefox 21`
`Context Menu Image Saver 20130207`

I have created a "<i>Menu item setting</i>" with "<i>Open the 'Save Image As...' dialog before saving</i>" but it doesn't work.
I try to save this image http://www.mubis.es/titulos/el-lado-bueno-de-las-cosas-blu-ray/caratula with the name "<i>El lado bueno de las cosas (Silver Linings Playbook) (2012)</i>" but it doesn't save nothing.

[2013-06-14 23:26] choobin commented on #44
G'day @simonbcn. Thanks for bringing this to my attention. Indeed, there seems to be an issue with saving after a 'Save Image As' dialog. Looking into it now.

[2013-06-14 23:49] #44 closed, assigned to choobin

[2013-06-14 23:49] #39 closed, assigned to choobin

[2013-06-14 23:50] #38 closed, assigned to choobin

[2013-06-14 23:50] #34 closed, assigned to choobin

[2013-06-14 23:52] choobin commented on #29
@KevinSanders. I have not had any issues with the context menu firing on quick save for some time now. I am going to close this issue. If it starts occurring again I will start tinkering around again.

Cheers,

Chris

[2013-06-14 23:52] #29 closed, assigned to choobin

[2013-06-14 23:55] choobin commented on #37
It does not currently seem possible to get the path, binary name and profile id from inside an add-on.

Services.appinfo seems to be the place to look, however, no-bingo.

https://developer.mozilla.org/en-US/docs/Mozilla/JavaScript_code_modules/Services.jsm
https://developer.mozilla.org/en-US/docs/XPCOM_Interface_Reference/nsIXULAppInfo
https://developer.mozilla.org/en-US/docs/XPCOM_Interface_Refe

[2013-06-14 23:55] #37 closed, assigned to choobin

[2013-06-14 23:57] choobin commented on #3
Closing. No need.

[2013-06-14 23:57] #3 closed, assigned to choobin

[2013-06-15 00:00] choobin commented on #15
There are the beginning of some documentation in the wiki section.

The prefix variable string have been hard-coded into the new menu item xul.

[2013-06-15 00:00] #15 closed, assigned to choobin

[2013-06-15 00:03] choobin commented on #43
G'day @gitscrub. I am having trouble reproducing the error. Any help (url's) would be appreciated.

[2013-06-25 01:05] choobin opened #45 "Do not reset last saved directory on restart."
A request from an AMO user.

Easily done. I will include this in the next release.

[2013-06-25 01:13] choobin opened #46 "The %TITLE stuff should not be using .innerHTML but .textContent"
Needs to be fixed for AMO approval.

[2013-06-25 01:14] choobin opened #47 "Cmis.util.clipboard(), transferable.init() isn't called with the proper load context."
In clipboard(), transferable.init() isn't called with the proper load context. Please fix this, or add a comment why this is the correct way to do things.

Needs to be fixed for AMO approval.

[2013-06-25 01:14] choobin opened #48 "The %DOMAIN regexp is pretty wonky."
The %DOMAIN regexp is pretty wonky. Please try to use the https://developer.mozilla.org/en-US/docs/XPCOM_Interface_Reference/nsIEffectiveTLDService , preferably via https://developer.mozilla.org/en-US/docs/Mozilla/JavaScript_code_modules/Services.js
## Example:

[19:10:33.656] "subsub.sub.domain.co.uk".match(/^(._?).(._?)$/)[2]
[19:10:33.659] "sub.domain.co.uk"
[19:10:34.981] Services.eTLD.getBase

[2013-06-26 03:10] #45 closed, assigned to choobin

[2013-06-26 03:10] #46 closed, assigned to choobin

[2013-06-26 03:10] #47 closed, assigned to choobin

[2013-06-26 03:10] #48 closed, assigned to choobin

[2013-07-12 13:03] choobin opened #49 "Zombie compartment when deactivated/uninstalled."
128KB leak when deactivating/un-installing.

I will need to do some testing, however, I suspect that I need to call Cmis.window.shutdown(); in uninstall (not just shutdown).

[2013-07-29 08:35] choobin opened #50 "Corrupt directoryList"
Report from a AMO user. directoryList had been corrupted during an update.

It is about time I implement proper validation of this variable _especially_ when importing and exporting user generated files.

[2013-07-30 07:18] choobin commented on #50
My suspicions were correct. User updated CMIS a few days ago from a pre-20130207 version to the latest version. The directoyList update did not fire. Going to have to look into the further.

[2013-09-13 10:53] choobin opened #51 "nsIDownloadManager deprecated as of Firefox 26"
It is currently breaking on UX Nightly.

https://developer.mozilla.org/en/docs/XPCOM_Interface_Reference/nsIDownloadManager

Have to start using Downloads.jsm

https://developer.mozilla.org/en-US/docs/Mozilla/JavaScript_code_modules/Downloads.jsm

So something along the lines of...

if (Services.vc.compare(Services.appinfo.platformVersion, "26.0") < 0)
    old_method();
else
    new_method();

[2013-09-15 16:14] #49 closed, assigned to choobin

[2013-09-15 16:14] #50 closed, assigned to choobin

[2013-09-15 16:14] #51 closed, assigned to choobin

[2013-09-26 14:57] hachimitsu opened #52 "Images do not save"
I am currently on Aurora 26.0a2 and images no longer save.

[2013-09-26 22:12] choobin commented on #52
G'day,

Thanks for contacting me. FF26 deprecated the nsIDownloadManager interface and now uses Downloads.jsm to control the download manager. I updated CMIS in 5674790 to reflect this. Unfortunately, Downloads.jsm is still in development, i.e., it is still changing regularly.

See here: https://developer.mozilla.org/en-US/docs/Mozilla/JavaScript_code_modules/Downloads.jsm

and: http://hg.mozilla.

[2013-09-26 22:12] #52 closed, assigned to choobin

[2013-09-29 00:25] simonbcn opened #53 "%CLIPBOARD changes ":" character by "_""
I have set the file format as `%CLIPBOARD.%EXT` but if the clipboard content has character `:`, it's substituted by `_`. Why? In Linux this character is allowed in filenames.

[2013-09-29 01:55] choobin commented on #53
Thanks for the feedback. Indeed, the only invalid characters on Linux are '\0' and '/'. Give me a second and I will update the filename validation function.

There will be a slight delay releasing this update to AMO. See issue #52 for details. If you want to check it out earlier please refer to the following page. [https://github.com/choobin/cmis/wiki/How-to-test-the-latest-update-from-github.](ht

[2013-09-29 02:02] choobin commented on #53
Fixed in 0598c27.

[2013-09-29 02:02] #53 closed, assigned to choobin

[2013-09-29 09:02] simonbcn commented on #53
Thanks for the fix. It works well.

[2013-11-17 13:24] simonbcn opened #54 "%EXT doesn't work well"
I have a entry with File format: `%CLIPBOARD.%EXT`.
But if the image name has more than 1 dot, it takes all characters after than the first dot like extension.
Example:
image name: `71I0vPD6YJL._SL1400_.jpg`

saved name: `Lago Eden (Eden Lake) (2008)._SL1400_.jpg`

[2013-11-20 04:54] choobin commented on #54
Thanks for the bug report. I have determined the source of the issue. It is due to a particularly nasty regular expression in `Cmis.util.format`.

[2013-11-20 04:54] #54 closed, assigned to choobin

[2013-11-20 04:57] choobin commented on #54
All fixed. Cheers mate. I will send the revision to AMO later this afternoon. It should be a week or so before it gets approved. If you would like to try it out earlier you can download the latest release [here](https://github.com/choobin/cmis/releases). Information about installing it from github can be found [here](https://github.com/choobin/cmis/wiki/How-to-test-the-latest-update-from-github.).

[2014-04-25 03:56] Keith94 opened #55 "Incompatible with latest Nightly"
Cannot save images anymore in Nightly. The following is logged to the console when I try to save an image:

NS_ERROR_FAILURE: Component returned failure code: 0x80004005 (NS_ERROR_FAILURE) [nsIURI.host] utility.js:445

[2014-04-26 06:22] Keith94 commented on #55
Somehow it's working again. Nevermind then.

[2014-04-26 06:22] #55 closed, assigned to nobody

[2014-09-21 14:12] Darayavaush opened #56 "[request] Add a possibility to rename image based on its MD5 hash"
Well, exactly what it says on the tin. I'd like to see a %HASH variable in addition to the already existing ones.

[2014-12-26 15:58] wesleyemw opened #57 "Doesn't work in E10's"
Extension doesn't save image when multiprocess in firefx is enabled. Tested in firefox nightly 37.0a1 (Linux x86_64)

[2015-03-05 18:09] peneelane opened #58 "Doesn't work anymore."
Today, I noticed all the image savers were missing from my context menu. When I tried to fix it, nothing worked. It's my favorite firefox add-on. Help.

[2015-04-03 04:33] morganmay opened #59 "Not working after update to Firefox 37"
After updating to Firefox 37 on Windows 7, CMIS no longer works. All of the menu entries are there, but clicking them doesn't do anything.

[2015-09-16 15:52] grinch843 opened #60 "Port to chrome?"
Love this add-on.   Any possibility to get it ported to google chrome

[2015-11-22 10:27] photonometric opened #61 "Option to Skip if filename already exists"
In the main options, there is an option reading:

**If the image already exists the save action will**
- prompt the user
- save as a unique file
- overwrite the existing file

I for one always choose *cancel" when the dialog box comes up (to preserve file times and my own metadata additions). Would be nice if this 'safest' option could be automatic.

[2016-07-04 01:31] dequis commented on #57
Works for me with firefox 49.0a2

[2016-07-16 10:02] photonometric commented on #57
I've been using this right along with the newer builds, though right now I have an old v36 open.

Is there an option that you're enabling in the new builds that disables the addon?

[2017-11-10 05:21] photonometric commented on #59
I've been using this excellent plugin for years, and am currently using it in the ESR of 54.0.1. This was probably a temporary hiccup with v37 in particular, or a misconfiguration.

This can probably be closed (old and superceded/ deprecated)

[2018-02-02 21:48] Zero3K opened #62 "Issues that I am having with it"
Its not working properly in Pale Moon. I've noticed the following things while using it:

1. The context menu items that can be made in its Settings for saving images to folder(s) don't work.
2. It pops up an error stating that I didn't set the previous download directory when using the Ctrl + Right-Click shortcut for quickly saving an image even though I did set the proper option in about:config.

[2018-02-04 18:45] Zero3K commented on #62
They are fixed thanks to the attached patch. Now to get the following suggestions added to it:

1. Have it be made to where entering in a directory to the extensions.cmis@moongiraffe.net.previousSaveAsDirectory option in about:config would get the shortcut to work properly.

2. Have it use Ctrl+Left-Click instead of Ctrl+Right-Click and ignore any javascript that is used by the image (such as one

[2018-02-11 14:08] ms0278 commented on #62
Hello Zero3K, i've encounterd the same problem with PaleMoon browser. I don't know where to place the patch file (directory?), can you please give me a hint?

[2018-02-11 15:20] Zero3K commented on #62
Better yet, here's the fixed add-on.

[cmis@choobin.zip](https://github.com/choobin/cmis/files/1714497/cmis.choobin.zip)

[2018-02-13 17:39] ms0278 commented on #62
Thanks. Downloaded it, removed old one, installed new one, no change at all ?? :-(

[2018-02-14 16:06] ms0278 opened #63 "Migrate to new Firefox add-on model"
Since version 56 Firefox changed his add-on structure, xul design is no longer supported. I'd really like to do the re-creation but my programming knowledge is not good enough. With some help we could achive this goal together? The author (C.H.) didn't react to my request, you can only imagine what the reason could be.

[2018-02-25 18:10] aybli commented on #62
The fixed add-on doesn't work for me either and I don't know what to do with the 'palemoon.patch' file.

[2018-02-26 18:23] ms0278 commented on #62
I think the patch file is included in the fixed version..so no luck :-(

[2018-06-10 23:21] grahamperrin commented on #58
You might get the context menu back by disabling multi-process, but then the menu items for saving will be ineffective …